@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.hero {
  position: relative;
  padding: 40px 0;
  z-index: 5;
  margin-bottom: -60px;
  min-height: calc(100dvh - 184px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/Backgrounds/HeroBackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include Desktop {
    min-height: 600px;
    height: calc(100dvh - 155px);
    max-height: 900px;
  }

  &__container {
    background-image: url("../../assets/Backgrounds/HeroBackgroundContainerMobile.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(320px, 90dvw, 700px);
    height: clamp(300px, 70dvh, 600px);
    padding: 30px;
    gap: 100px;

    @include Desktop {
      background-image: url("../../assets/Backgrounds/HeroContainerBackground.svg");
      min-height: 500px;
      width: clamp(320px, 90dvw, 1450px);
    }
  }

  &__img {
    display: none;

    @include Desktop {
      display: block;
      width: clamp(320px, 25dvw, 420px);
      height: auto;
      max-height: 560px;
    }
  }
  &__title {
  }

  &__text {
    &-container {
      height: 100%;
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }
  }

  &__description {
    display: none;
    font-size: 1rem;

    @include Phone {
      display: block;
    }
  }
}

.products {
  position: relative;
  z-index: 4;
  margin-bottom: -60px;

  min-height: calc(100dvh - 184px);
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/Backgrounds/ProductSectionBackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include Desktop {
    padding: 200px 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 400px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @include Desktop {
      gap: 20px;
    }
  }

  &__image {
    width: 80%;
    height: auto;
  }

  &__link {
    font-size: clamp(1.125rem, 5dvw, 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red-light;
    color: $white;
    max-width: 400px;
    width: 75%;
    height: 50px;
    border-radius: 10px;
  }

  &__link:hover {
    background-color: $blue;
  }
}

.discount {
  position: relative;
  z-index: 3;
  margin-bottom: -60px;
  min-height: calc(100dvh - 184px);
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/Backgrounds/DiscountBackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include Desktop {
    padding: 200px 40px;
    flex-direction: row;
  }

  &__content {
    position: relative;
    z-index: 3;
    margin-bottom: -10px;
    background-image: url("../../assets/Backgrounds/DiscountContainerMobile.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(320px, 90dvw, 400px);
    height: clamp(300px, 50dvh, 700px);
    padding: 20px 40px;
    gap: 20px;

    @include Tablet {
      height: clamp(300px, 50dvw, 700px);
      width: clamp(320px, 50dvw, 700px);
    }
    @include Desktop {
      min-height: 500px;
    }
  }

  &__title {
    text-align: center;
    font-size: 2rem;
  }

  &__description {
    text-align: center;
    font-size: 1.5rem;
  }

  &__image {
    width: 100%;
    &-wrapper {
      width: clamp(320px, 50dvw, 800px);
      height: auto;
      padding: 20px;
      border-radius: 20px;
      background-color: $green;
    }
  }
}
