@font-face {
  font-family: "RoundsBlack";
  src: url("../assets/Fonts/RoundsBlack.otf") format("opentype");
}

@font-face {
  font-family: "Porkys";
  src: url("../assets/Fonts/PORKYS.TTF") format("truetype");
}
